img{
    position: fixed;
    width: 100%;
    height: 100%;
}

.contain{
    height:480px;
    width: 400px;
    top:110px;
    position: relative;
    left: 15%;
    float: left;
    margin-right: 260px;
}

form{
    background-color: rgba(158, 216, 255,0.5);
    border-radius: 10px;
    position: absolute;
    /*transform: translate(-50%,-50%);*/
    /*top: 50%;*/
    /*left: 50%;*/
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    width: 100%;
    height: 100%;
}

form *{
    font-family:'Poppins',sans-serif;
    color: black;
    outline: none;
    border: none;
}

.labels{
    display: block;
    margin-top: 25px;
    font-size: 27px;
    margin-bottom: 6px;
    margin-left: -13px;
}

.inputs{
    display: block;
    height: 30px;
    width: 100%;
    padding: 0px 1px;
    margin-top: 8px;
    font-size: 14px;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgba(239, 249, 255,1);
    text-align: center;
    margin-bottom: 15px;
}
.text_name{
    display: inline;
    width: 90px;
    margin-right: 10px;
    height: 34px;
    border-radius: 18px;
    text-align: center;
}

[type= "submit"]{
    position:absolute ;
    width: 155px;
    height: 45px;
    left: 35%;
    top: 83%;
    border-radius: 18px;
    background-color:rgba(239, 249, 255,1);
    font-weight: bold;
}
[type= "submit"]:hover{
    background-color: #9ED8FF;
}

.orders_history{
    position:absolute ;
    left: 55%;
    top: 83%;
    text-decoration: none;
    border: none;
}
#orders_history_btn{
    width: 155px;
    height: 45px;
    border-radius: 18px;
    background-color:rgba(239, 249, 255,1);
    font-weight: bold;
    color: black;
    border: none;
}

#orders_history_btn:hover{
    background-color: #9ED8FF;
}

.radio{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    margin-right: 40px;
}
.radio:active{
    /*box-shadow: 5px 5px 5px yellow;*/
}

.fa-money-bill{
    color: rgba(239, 249, 255,1);
    transform: scale(2.5,2.5);
    margin-left: 15%;
    padding-right: 10px;
}
.fa-cc-visa{
    color: rgba(239, 249, 255,1);
    transform: scale(2.5,2.5);
    padding-right: 10px;
}
.fa-cc-mastercard{
    color: rgba(239, 249, 255,1);
    transform: scale(2.5,2.5);
    padding-right: 10px;
}
