/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    position: fixed;
    width: 100%;
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-attachment: fixed; /* Ensures the gradient moves with the content */
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.5s ease;
}

.content {
    min-height: 200vh; /* Makes sure there's enough content to scroll */
}


header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: rgba(213, 213, 213, 0.6); /* Adjust the opacity by changing the last value (0.8) */
    backdrop-filter: blur(3px);
    background-image: linear-gradient(90deg, #4a70e3, #4b4088);

}

/*}*/

header h1 {
    margin: 0;
    width: 100%;
}

footer {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(90deg, royalblue, darkslateblue);
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: auto;
    background: transparent;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;

}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #00444444;
}



/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

* {box-sizing:border-box}

.dropdown a{
    display: block;
    text-decoration: none;
}

.dropdown .content_dorpdown{
    display: none;
    position: absolute;
    background-color: rgba(158, 216, 255,1);
    max-width: 600px;
    box-shadow: 2px 2px 5px hsla(0,0%,0%, 0.8);
    top: 63px;
    margin-right: auto;
    margin-left: auto;
}

.content_dorpdown a{
    font-family:'Poppins',sans-serif;
    color: black;
    width: 150px;
}

.dropdown:hover .content_dorpdown{
    display: block;
}


.contain{
    height:480px;
    width: 400px;
    top:110px;
    position: relative;
    left: 15%;
    float: left;
    margin-right: 260px;
}

form{
    background-color: rgba(158, 216, 255,0.5);
    border-radius: 10px;
    position: absolute;
    /*transform: translate(-50%,-50%);*/
    /*top: 50%;*/
    /*left: 50%;*/
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    width: 100%;
    height: 100%;
}

form *{
    font-family:'Poppins',sans-serif;
    color: black;
    outline: none;
    border: none;
}

.labels{
    display: block;
    margin-top: 25px;
    font-size: 27px;
    margin-bottom: 6px;
    margin-left: -13px;
}

.inputs{
    display: block;
    height: 30px;
    width: 100%;
    padding: 0px 1px;
    margin-top: 8px;
    font-size: 14px;
    border-radius: 8px;
    font-size: 14px;
    background-color: rgba(239, 249, 255,1);
    text-align: center;
    margin-bottom: 15px;
}
.text_name{
    display: inline;
    width: 90px;
    margin-right: 10px;
    height: 34px;
    border-radius: 18px;
    text-align: center;
}

[type= "submit"]{
    position:absolute ;
    width: 130px;
    height: 45px;
    background-color: yellow;
    left: 45.4%;
    top: 83%;
    border-radius: 18px;
    background-color:rgba(239, 249, 255,1);
    font-weight: bold;
}
[type= "submit"]:hover{
    background-color: #9ED8FF;
}