/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /*background: linear-gradient(to bottom, #ffc0cb, rebeccapurple);*/
    background-attachment: fixed; /* Ensures the gradient moves with the content */
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.5s ease;
}

.content {
    min-height: 200vh; /* Makes sure there's enough content to scroll */
    position: absolute;
    padding-top: 150px;
    /*border: 1px black solid;*/
    width: 100%;
}

/*header {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 0px;*/
/*    text-align: center;*/
/*    position: sticky;*/


header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #d5d5d5;*/
    height: 75px;
    background-color: rgba(213, 213, 213, 0.6); /* Adjust the opacity by changing the last value (0.8) */
    backdrop-filter: blur(3px);
}

/*}*/

header h1 {
    margin: 0;
    width: 100%;
}



footer {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    /*background-image: linear-gradient(90deg, red, orange, yellow, green, blue, cyan ,purple, blueviolet);*/
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-image: linear-gradient(90deg, red, orange, yellow, green, blue, cyan ,purple, blueviolet);*/
    overflow: auto;
    background: transparent;
}

#may\ god\ bless\ america{
    height: 75px;
    background: transparent;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;

}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #00444444;
}



/* Current/active navbar link */
.active {
    /*background-color: #04AA6D;*/
}
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #ea9191;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}



.container{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    /*border: 1px blue solid;*/
    height: 500px;
    position: relative;
    /*background-color: rgba(112, 198, 255, 0.6);*/
    backdrop-filter: blur(3px);
    border-radius: 10px;
    color: white;
    /*background: url("../IMAGES/login.png");*/
}

.info{
    /*border: 2px solid yellow;*/
    left: 0;
    width: 48%;
    height: 500px;
    float: left;
    text-align: center;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 10px;
    border: 3px #EFF9FF solid;
}

.payment{
    position: absolute;
    /*border: 2px solid red;*/
    right: 0;
    width: 48%;
    height: 500px;
    text-align: center;
}

.item{
    position: relative;
    text-align: center;
    /*border: green 1px solid;*/
    height: 25%;
    background: linear-gradient(to bottom,#8ED2FF,#EFF9FF);
    margin-bottom: 6px;
    border-radius: 12px;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.icon{
    width: 90px;
    height: 90px;
    float: left;
    margin-top: 3%;
    margin-left: 2%;
}

.product_info{
    position: relative;
    font-weight: bold;
    font-size: 20px;
    top: 10px;
}

.product_price{
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: black;
}

.total{
    text-align: right;
    vertical-align: center;
    position: fixed;
    z-index: 4;
    border-radius: 7px;
    border-color: black;
    bottom: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    width: 40%;
    background-color: rgba(112, 198, 255, 0.6) ;
    backdrop-filter: blur(3px);
    color: black;
    left: 3%;
    height: 40px;
    padding-top: 8px;
}


form{
    /*background-color: rgba(158, 216, 255,0.5);*/
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    padding: 50px 35px;
    text-align: center;
    border: 3px #EFF9FF solid;
}
form *{
    font-family:'Poppins',sans-serif;
    outline: none;
    border: none;
}
form div{
    margin-bottom: 10px;
}

.inputs{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    padding: 0 1px;
    margin-top: 4px;
    border-radius: 14px;
    font-size: 15px;
    background-color: rgba(239, 249, 255,1);
    text-align: center;
    color: black;
}

.labels{
    display: block;
    margin-top: 5px;
    font-size: 13px;
    margin-bottom: 7px;
    margin-left: -6px;
    color: white;
}

a{
    text-align: center;
}
.radio{
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    appearance: none;
}
.radio:active{
    box-shadow: 5px 5px 5px yellow;
}
.fa-money-bill{
    position: relative;
    color: rgba(239, 249, 255,1);
    transform: scale(2.5,2.5);
    margin-left:12%;
    padding-right: 30px;
}
.fa-cc-visa{
    position: relative;
    color: rgba(239, 249, 255,1);
    transform: scale(2.5,2.5);
    padding-right: 30px;
}
.fa-cc-mastercard{
    position: relative;
    color: rgba(239, 249, 255,1);
    transform: scale(2.5,2.5);
    padding-right: 30px;
}
button{
    width: 40%;
    padding: 7px 0;
    margin-top: -5px;
    font-size: 14px;
    border-radius: 9px;
    background-color:rgba(239, 249, 255,1);
    text-align: center;
    color: black;
}
button:hover{
    background-color: #9ED8FF;
}
button a{
    color: black;
    text-decoration: none;
}

a{
    /*text-decoration: none;*/
    color: black;
}
a:hover{
    color: white;
}

select{
    color: black;
}




