/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /*background: linear-gradient(to bottom, #ffc0cb, rebeccapurple);*/
    background-attachment: fixed; /* Ensures the gradient moves with the content */
    color: #333;
    margin: 0;
    padding: 0;
    transition: background 0.5s ease;
}

.content {
    min-height: 200vh; /* Makes sure there's enough content to scroll */
}

/*header {*/
/*    background-color: #333;*/
/*    color: #fff;*/
/*    padding: 0px;*/
/*    text-align: center;*/
/*    position: sticky;*/


header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #d5d5d5;*/
    height: 75px;
    background-color: rgba(213, 213, 213, 0.6); /* Adjust the opacity by changing the last value (0.8) */
    backdrop-filter: blur(3px);
    background-image: linear-gradient(90deg, #4a70e3, #4b4088);

}

/*}*/

header h1 {
    margin: 0;
    width: 100%;
}

footer {
    background-color: transparent;
    color: #fff;
    padding: 20px;
    text-align: center;
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(90deg, royalblue, darkslateblue);
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /*background-image: linear-gradient(90deg, red, orange, yellow, green, blue, cyan ,purple, blueviolet);*/
    overflow: auto;
    background: transparent;
}

#may\ god\ bless\ america{
    height: 75px;
    background: transparent;
}

/* Navbar links */
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;

}

/* Navbar links on mouse-over */
.navbar a:hover {
    background-color: #00444444;
}



/* Current/active navbar link */
.active {
    /*background-color: #04AA6D;*/
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    /*max-width: 1000px;*/
    width: 100%;
    position: relative;
    margin: auto;
}

.dots{
    width: 100%;
    position: absolute;
    bottom: 5px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 0 3px 3px 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #ea9191;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-shadow: black 0.1em 0.1em;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
    transition: opacity ease-in-out 1s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.card {
    position: relative;
    width: 260px;
    height: 420px;
    background:#EFF9FF ;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #8ed2ff;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
}

.card .imgBox {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .contentBox {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .contentBox h3 {
    font-size: 18px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .contentBox .browse {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #8ed2ff;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .contentBox .browse{
    top:0 ;
    opacity: 1;
}

.mouse {
    height: 220px;
    width: 95%;
}
