#product_img{
    width: 500px;
    height: 500px;
    float: left
}

#buy{
    float:left;
    width: 100px;
    height: 30px;
    margin: 0px 25px;
    font-size: 18px;
    border-radius: 18px;
    background-color:rgba(239, 249, 255,1);
}

#buy:hover{
    background-color: #9ED8FF;
}

#qty{
    float: left;
    width: 38px;
    height: 30px;
    margin: 0px -15px;
    border-radius: 18px;
    font-size: 14px;
}
#price{
    margin: 0px -500px;
    font-weight: bold;
    font-size: 20px
}


